*,* :before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  
}
/*parent, main box */
.container {
  
  margin: 0 auto;
  width:  52%;
  
  
}

.arrow-left {
  padding-top:  14px;
  
}
nav {
  margin: 0 auto;
  padding: 10px 0 25px 15px;
  height:  7%;
  position: fixed;
  width: 52%;
  background-color:  black;
}


/*child one*/
.restaurant-list {
  
  padding-top:  14%;
  height:  5%;
  background-color:  #dcdadc;
  }

/*child two*/


.restaurant list, .location {
  
  height:  100px;
  width:  100%;
  border-bottom:  1px solid black; 
  }



.location:hover {
  background-color:  #b8b8b8;

}

.arrow {
  position:  relative;
  bottom:  37%;
  left:  90%;
}


.content h1 {
  font-size:  20px;
  font-weight:  900;
  line-height:  2em;
  margin-left:  5%;
  padding-top:  14px;
}

.content h3 {
  font-size:  18px;
  margin-left: 5%;
  
 
  
}
